body{
    background-color: rgb(21, 19, 19);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#first{
    /* position: relative;
    padding: 40px;
    border: 1px solid white; 
    text-align: center;*/

    /* position: relative;
    padding: 40px;
    border: 1px solid white;
    height: 200px;   
    width: 1000px; */

    /* Way 3. */
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    height: 30px;
    border-radius: 20px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
     
}
